In [42]:
# libraries

from datetime import datetime
import os
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

# Web Scrapping

In [43]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[-1]
# print(thead)
head = thead.find_all('tr')

tbody = soup.find_all('tbody')[-1]
body = tbody.find_all('tr')

# print(rows)

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
    
# print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-1], columns=head_rows[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,9,0,0,0
1,Bihar,3,0,0,1
2,Chhattisgarh,1,0,0,0
3,Delhi,30,1,6,1#
4,Gujarat,32,1,0,1
5,Haryana,14,14,11,0
6,Himachal Pradesh,3,0,0,1
7,Karnataka,41,0,3,1
8,Kerala,101,8,4,0
9,Madhya Pradesh,9,0,0,0
10,Maharashtra,98,3,0,2
11,Manipur,1,0,0,0
12,Mizoram,1,0,0,0
13,Odisha,2,0,0,0
14,Puducherry,1,0,0,0
15,Punjab,29,0,0,1
16,Rajasthan,30,2,3,0
17,Tamil Nadu,16,2,1,0
18,Telengana,25,10,1,0
19,Chandigarh,7,0,0,0
20,Jammu and Kashmir,7,0,1,0
21,Ladakh,13,0,0,0
22,Uttar Pradesh,34,1,11,0
23,Uttarakhand,3,1,0,0
24,West Bengal,9,0,0,1

# Data Cleaning

In [44]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date
0,Andhra Pradesh,9,0,0,0,2020-03-25
1,Bihar,3,0,0,1,2020-03-25
2,Chhattisgarh,1,0,0,0,2020-03-25
3,Delhi,30,1,6,1#,2020-03-25
4,Gujarat,32,1,0,1,2020-03-25
5,Haryana,14,14,11,0,2020-03-25
6,Himachal Pradesh,3,0,0,1,2020-03-25
7,Karnataka,41,0,3,1,2020-03-25
8,Kerala,101,8,4,0,2020-03-25
9,Madhya Pradesh,9,0,0,0,2020-03-25
10,Maharashtra,98,3,0,2,2020-03-25
11,Manipur,1,0,0,0,2020-03-25
12,Mizoram,1,0,0,0,2020-03-25
13,Odisha,2,0,0,0,2020-03-25
14,Puducherry,1,0,0,0,2020-03-25
15,Punjab,29,0,0,1,2020-03-25
16,Rajasthan,30,2,3,0,2020-03-25
17,Tamil Nadu,16,2,1,0,2020-03-25
18,Telengana,25,10,1,0,2020-03-25
19,Chandigarh,7,0,0,0,2020-03-25
20,Jammu and Kashmir,7,0,1,0,2020-03-25
21,Ladakh,13,0,0,0,2020-03-25
22,Uttar Pradesh,34,1,11,0,2020-03-25
23,Uttarakhand,3,1,0,0,2020-03-25
24,West Bengal,9,0,0,1,2020-03-25

In [45]:
df_bs['Name of State / UT'].unique()

array(['Andhra Pradesh', 'Bihar', 'Chhattisgarh', 'Delhi', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Mizoram', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telengana',
       'Chandigarh', 'Jammu and Kashmir', 'Ladakh', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [46]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041,
       'Haryana':29.0588,
       'Kerala':10.8505,
       'Rajasthan':27.0238,
       'Telengana':18.1124,
       'Uttar Pradesh':26.8467,
       'Ladakh':34.2996,
       'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782,
       'Punjab':31.1471,
       'Karnataka':15.3173,
       'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 
       'Odisha':20.9517, 
       'Uttarakhand':30.0668, 
       'West Bengal':22.9868, 
       'Puducherry': 11.9416, 
       'Chandigarh': 30.7333, 
       'Chhattisgarh':21.2787, 
       'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 
       'Madhya Pradesh': 22.9734, 
       'Bihar': 25.0961, 
       'Manipur':24.6637, 
       'Mizoram':23.1645}

long = {'Delhi':77.1025,
        'Haryana':76.0856,
        'Kerala':76.2711,
        'Rajasthan':74.2179,
        'Telengana':79.0193,
        'Uttar Pradesh':80.9462,
        'Ladakh':78.2932,
        'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762,
        'Punjab':75.3412,
        'Karnataka':75.7139,
        'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 
        'Odisha':85.0985, 
        'Uttarakhand':79.0193, 
        'West Bengal':87.8550, 
        'Puducherry': 79.8083, 
        'Chandigarh': 76.7794, 
        'Chhattisgarh':81.8661, 
        'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 
        'Madhya Pradesh': 78.6569, 
        'Bihar': 85.3131, 
        'Manipur':93.9063, 
        'Mizoram':92.9376}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,9,0,0,0,2020-03-25,15.9129,79.7400
1,Bihar,3,0,0,1,2020-03-25,25.0961,85.3131
2,Chhattisgarh,1,0,0,0,2020-03-25,21.2787,81.8661
3,Delhi,30,1,6,1#,2020-03-25,28.7041,77.1025
4,Gujarat,32,1,0,1,2020-03-25,22.2587,71.1924

In [47]:
df_bs.isna().sum()

Name of State / UT                            0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
Cured/Discharged/Migrated                     0
Death                                         0
Date                                          0
Latitude                                      0
Longitude                                     0
dtype: int64

# Saving data

In [48]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,9,0,0,0,2020-03-25,15.9129,79.7400
1,Bihar,3,0,0,1,2020-03-25,25.0961,85.3131
2,Chhattisgarh,1,0,0,0,2020-03-25,21.2787,81.8661
3,Delhi,30,1,6,1#,2020-03-25,28.7041,77.1025
4,Gujarat,32,1,0,1,2020-03-25,22.2587,71.1924
5,Haryana,14,14,11,0,2020-03-25,29.0588,76.0856
6,Himachal Pradesh,3,0,0,1,2020-03-25,31.1048,77.1734
7,Karnataka,41,0,3,1,2020-03-25,15.3173,75.7139
8,Kerala,101,8,4,0,2020-03-25,10.8505,76.2711
9,Madhya Pradesh,9,0,0,0,2020-03-25,22.9734,78.6569
10,Maharashtra,98,3,0,2,2020-03-25,19.7515,75.7139
11,Manipur,1,0,0,0,2020-03-25,24.6637,93.9063
12,Mizoram,1,0,0,0,2020-03-25,23.1645,92.9376
13,Odisha,2,0,0,0,2020-03-25,20.9517,85.0985
14,Puducherry,1,0,0,0,2020-03-25,11.9416,79.8083
15,Punjab,29,0,0,1,2020-03-25,31.1471,75.3412
16,Rajasthan,30,2,3,0,2020-03-25,27.0238,74.2179
17,Tamil Nadu,16,2,1,0,2020-03-25,11.1271,78.6569
18,Telengana,25,10,1,0,2020-03-25,18.1124,79.0193
19,Chandigarh,7,0,0,0,2020-03-25,30.7333,76.7794
20,Jammu and Kashmir,7,0,1,0,2020-03-25,33.7782,76.5762
21,Ladakh,13,0,0,0,2020-03-25,34.2996,78.2932
22,Uttar Pradesh,34,1,11,0,2020-03-25,26.8467,80.9462
23,Uttarakhand,3,1,0,0,2020-03-25,30.0668,79.0193
24,West Bengal,9,0,0,1,2020-03-25,22.9868,87.8550

In [49]:
df_bs.columns

Index(['Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

# Combining data

In [50]:
! ls C:\Users\imdevskp\Desktop\covid_india\.day_by_day_data

2020_03_21.csv
2020_03_22.csv
2020_03_23.csv
2020_03_24.csv
2020_03_25.csv

In [51]:
# pd.read_csv?

In [52]:
# complete data

loc = "C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\"

files = glob.glob(loc+'2020*.csv')
dfs = []
for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated'})
    dfs.append(df_temp)
    
# print(dfs)

complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

complete_data['Death'] = complete_data['Death'].str.extract('(\d+)')
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

# complete_data.tail(50)

In [53]:
complete_data.columns

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death'],
      dtype='object')

In [54]:
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [55]:
complete_data['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Rajasthan', 'Haryana',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram'], dtype=object)

In [56]:
# sorted(complete_data['Name of State / UT'].unique())

In [57]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        365 non-null    datetime64[ns]
 1   Name of State / UT                          365 non-null    object
 2   Total Confirmed cases (Indian National)     365 non-null    int32
 3   Total Confirmed cases ( Foreign National )  365 non-null    int32
 4   Cured/Discharged/Migrated                   365 non-null    int32
 5   Latitude                                    365 non-null    float64
 6   Longitude                                   365 non-null    float64
 7   Death                                       365 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(4), object(1)
memory usage: 17.2+ KB

In [58]:
complete_data.to_csv('complete.csv', index=False)